body,nav,section,ul,div
{
    margin: 0px;
    padding: 0px;
}

body
{
    /*background-color: #77ffee;*/
    margin: 7px;
    background-color : rgba(255,255,255,0.7);
}


#mainNav
{
    position: relative;
    width: 100%;
}

#sectionNav
{/*positionement du sectionNav*/
    border: 1px solid black;
    float: right;
    position: relative;
    width: 20%;
    margin-top: 7px;
}

 #sectionContent
{
    border: 1px solid black;
    width: 50%;
    box-sizing: border-box;
    margin-top: 30px;
    /*position: absolute;
    margin-top: 70px;*/
    padding: 7px 0px;
}

#divImage
{
    border: 1px solid #ccbc77;
    width:  80%;
    position: absolute;
    box-sizing: border-box;
    margin-top: 400px;
    margin-left: 10%;
    padding: 0 7px;
}

#divImage img
{
    width: 100%;
    position: relative;
    border-radius: 30px;
    margin: 3px;
}

a
{
    text-decoration: none;
    color: black;
    font-style: italic;
}

li
{
    list-style-type: none;
}