/*nav level style (l1,l2..)*/
#ulLevel > li
{
    float: right;
    position: relative;
    display: inline-block;
    width: 30%;
    margin-left: 3px;
    border: 1px solid black;
    box-sizing: border-box;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

#ulLevel > li:hover
{
    background: rgba(77,77,77,0.7);
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid white;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: ease 2s border-top-left-radius;
    transition: ease 2s border-top-right-radius;
    transition: ease 2 background;
}

#l1
{
    margin-right: 7px;
}

#ulLevel > li > a
{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#ulLevel
{
    display: table;
    position: relative;
    width: 100%;
    margin: 5px 0;
}

#divNavLevel
{
    position: relative;
    width: 95%;
    margin: 0 auto;
}

/*style de filiere 

les semester doivent etre cache 
n'apparaisse que lorsqu'on clique sur le filiere
(avec javascript)
*/

#divTabFiliere
{
    position: relative;
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(77,77,77,0.7);
}

.semestre
{
    /*on cache les semestres*/
   visibility: hidden;
}


#tabFiliere
{
    position: relative;
    width: 100%;
    padding: 7px;
}


#tabFiliere a
{
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
}

/*style de lign des filiere*/
.tr
{
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 3px;
    border-radius: 3px;
    padding: 3px;
}

.tr .semestre
{
    position: relative;
    width: 23%;
    display: inline-block;
    box-sizing: border-box;
}

/*td contenat nomf*/
.filiere
{
    display: inline-block;
    width: 50%;
    position: relative;
    box-sizing: border-box;
}

.filiere, .semestre
{
    border: 1px solid white;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.filiere:hover,.semestre:hover
{
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: ease 2s border-top-left-radius;
    transition: ease 2s border-top-right-radius;
    border: 1px solid black;
    background: white;
    transition: ease 2s background-color;
}