#divMatiere
{
    border: 1px solid black;
    position: relative;
    width: 95%;
    margin: 7px 0px 7px 7px;
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(77,77,77,0.7);
    padding: 7px 3px;
}

.ulMatiere
{
	position: relative;
}

.ulMatiere > li
{
	position: relative;
	display: inline-block;
	width: 70%;
	border: 1px solid white;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
	margin-bottom: 3px;
	margin-left: 10%;
}

.ulMatiere > li:hover
{
	border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: ease 2s border-top-left-radius;
    transition: ease 2s border-top-right-radius;
    border: 1px solid black;
    background: white;
    transition: ease 2s background;
}

.ulMatiere > li > a
{
	position: relative;
	display: inline-block;
	width: 100%;
	margin-left: 10%;
	text-align: left;
	text-decoration-color: black;
}